@model EmployeeManagementSystem.ViewModels.HomeGetEmployeeViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Customer List";
}




    <h2 class="mb-4">@Model.Title</h2>

<div class="card text-center">
    <div class="card-header">
        <h3><strong>@Model.Employee.Name</strong></h3>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="card-body">
                    <div class="col-4 border-right float-left">
                        <img src="~/Images/404-4045564_icon-man-png-icon-person-woman-png-clipart.jpg" style="height:150px" />
                    </div>
                    <div class="col-8 float-left">
                        <p class="border-bottom mb-3 pb-3">ID : @Model.Employee.Id</p>
                        <p class="border-bottom mb-3 pb-3">E - Mail : @Model.Employee.Email</p>
                        <p class="border-bottom mb-3 pb-3">Department : @Model.Employee.Department</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer text-muted">
        <button class="btn btn-sm btn-success">View</button>
        <button class="btn btn-sm btn-primary">Edit</button>
        <button class="btn btn-sm btn-danger">Delete</button>
    </div>
</div>


@section Scripts{
    <script src="~/JS/CustomJavaScript.js"></script>
}